.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.topContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    height: 50vh;
}
.top_leftContainer{
    width: 20%;
    height: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top_RightContainer{
    width: 65%;
    height: 100%;
    border-radius: 200px 0px 0px 200px;
    overflow: hidden;
    background: linear-gradient(rgb(154, 154, 154),#c4c4c4);
}
.RightContainerImage{
    width: 30%;
    height: 100%;
    padding-left: 100px;
    
}
.RightContainerImage >img{
    height: 100%;
    width: 100%;
}
.boxCointer{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-rows: repeat(1,300px);
}

.box{
    background-color: orangered;
}
.HeroConatiner{
    display: grid;
    height: 60vh;
    grid-template-areas: 
    "h h"
    "f f"
    "sr sr";
    justify-content: center;
    width: 90%;
}
.headSec{
    grid-area: h;
    display: flex;
    justify-content: center;
    height: 10vh;
}
.firstrow{
    grid-area: f;
}
.secondrow{
    grid-area: sr;
}
.boxCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
}
.heads{
    display: flex;
    gap: 10px;
}